{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1 class="mb-4">Welcome to our pizzeria, {{ current_user.username }}</h1>

    <h3>Our famous Pizzas for you!</h3>

    <div class="row g-4">

        <div class="col-md-6">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='images/four-cheese-pizza.jpg') }}"
                    width="350"
                    class="d-block mx-auto">
                <div class="card-body">
                    <h5 class="card-title">Pizza 4 Cheese</h5>
                    <p class="card-text">
                        Our Four Cheese Pizza is a favorite for true cheese lovers. 
                        Four delicious cheeses melt together into a rich, creamy combination with a golden, irresistible crust.
                    </p>
                    <p class="card-text">
                        <big class="text-body">Only for __ !</big>
                    </p>
                </div>
                <a class="btn p-1 bg-success" href="/order">
                    <img src="{{ url_for('static', filename='images/cart.png') }}"
                        alt="cart"
                        width="35">
                </a>
            </div>
        </div>

        
        <div class="col-md-6">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='images/Pepperoni-and-Peppers-Pizza.jpg') }}"
                    class="d-block mx-auto"
                    width="350">
                <div class="card-body">
                    <h5 class="card-title">Pepperoni & Pepper Pizza</h5>
                    <p class="card-text">
                        Our Pepperoni & Pepper Pizza is a true favorite among fans of bold flavors.
                        Spicy peppers, savory pepperoni, and gooey cheese come together in a combination that’s hard to resist after the first bite.
                    </p>
                    <p class="card-text">
                        <big class="text-body">Only for __ !</big>
                    </p>
                </div>
                <a class="btn p-1 bg-success" href="/order">
                    <img src="{{ url_for('static', filename='images/cart.png') }}"
                        alt="cart"
                        width="35">
                </a>
            </div>
        </div>

    </div>
</div>

{% endblock %}