<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <input type="text" name="username" id="username" required>
        <input type="password" name="password" id="password" required>
        <button type="submit">Enter account</button>
    </form>
</body>
<a href="/register">Create account</a>
</html>